In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# Read data and store into a Pandas DataFrame
world_happiness_df = pd.read_csv("Resources/world-happiness-report.csv")
world_happiness_df.head()

,Country_name,year,Life_Ladder,Log_GDP_per_capita,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Positive_affect,Negative_affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [2]:
world_happiness_df = world_happiness_df.drop(["Positive_affect", "Negative_affect"], axis = 1)
world_happiness_df.head()

,Country_name,year,Life_Ladder,Log_GDP_per_capita,Social_support,Healthy_life_expectancy_at_birth,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776

In [3]:
world_happiness_df.rename(columns = {'Country_name': 'Country', 'year': 'Year', 'Life_Ladder': 'Happiness_Score', 'Log_GDP_per_capita': 'Economic_Production', 'Social_support': 'Social_Support', 'Healthy_life_expectancy_at_birth': 'Life_Expectancy', 'Freedom_to_make_life_choices': 'Freedom', 'Perceptions_of_corruption': 'Perceptions_of_Corruption'}, inplace = True)
world_happiness_df.head()

,Country,Year,Happiness_Score,Economic_Production,Social_Support,Life_Expectancy,Freedom,Generosity,Perceptions_of_Corruption
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776

In [4]:
world_happiness_df.dtypes

Country                       object
Year                           int64
Happiness_Score              float64
Economic_Production          float64
Social_Support               float64
Life_Expectancy              float64
Freedom                      float64
Generosity                   float64
Perceptions_of_Corruption    float64
dtype: object

In [5]:
world_happiness_df.to_csv('Cleaned_Data/World_Happiness_Report_All_Years.csv', index=False)

In [6]:
# Read data and store into a Pandas DataFrame
world_happiness_2021_df = pd.read_csv("Resources/world-happiness-report-2021.csv")
world_happiness_2021_df.head()

,Country_name,Regional_indicator,Ladder_score,Standard_error_of_ladder_score,upperwhisker,lowerwhisker,Logged_GDP_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Ladder_score_in_Dystopia,Explained_by_Log_GDP_per_capita,Explained_by_Social_support,Explained_by_Healthy_life_expectancy,Explained_by_Freedom_to_make_life_choices,Explained_by_Generosity,Explained_by_Perceptions_of_corruption,Dystopia_residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [7]:
world_happiness_2021_df.set_index('Country_name')
world_happiness_2021_df.head()

,Country_name,Regional_indicator,Ladder_score,Standard_error_of_ladder_score,upperwhisker,lowerwhisker,Logged_GDP_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption,Ladder_score_in_Dystopia,Explained_by_Log_GDP_per_capita,Explained_by_Social_support,Explained_by_Healthy_life_expectancy,Explained_by_Freedom_to_make_life_choices,Explained_by_Generosity,Explained_by_Perceptions_of_corruption,Dystopia_residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [8]:
world_happiness_2021_df = world_happiness_2021_df.drop(["Standard_error_of_ladder_score", "upperwhisker", "lowerwhisker", "Ladder_score_in_Dystopia", "Explained_by_Log_GDP_per_capita", "Explained_by_Social_support", "Explained_by_Healthy_life_expectancy", "Explained_by_Freedom_to_make_life_choices", "Explained_by_Generosity", "Explained_by_Perceptions_of_corruption", "Dystopia_residual"], axis = 1)
world_happiness_2021_df.head()

,Country_name,Regional_indicator,Ladder_score,Logged_GDP_per_capita,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [9]:
world_happiness_2021_df.rename(columns = {'Regional_indicator': 'World_Region', 'Country_name': 'Country', 'Ladder_score': 'Happiness_Score', 'Logged_GDP_per_capita': 'Economic_Production', 'Social_support': 'Social_Support', 'Healthy_life_expectancy': 'Life_Expectancy', 'Freedom_to_make_life_choices': 'Freedom', 'Perceptions_of_corruption': 'Perceptions_of_Corruption'}, inplace = True)
world_happiness_2021_df.head()

,Country,World_Region,Happiness_Score,Economic_Production,Social_Support,Life_Expectancy,Freedom,Generosity,Perceptions_of_Corruption
0,Finland,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [10]:
#world_happiness_2021_df['Year'] = world_happiness_2021_df.apply(lambda _: "2021", axis=1)
world_happiness_2021_df.insert(1, "Year", 2021)
world_happiness_2021_df.head()

,Country,Year,World_Region,Happiness_Score,Economic_Production,Social_Support,Life_Expectancy,Freedom,Generosity,Perceptions_of_Corruption
0,Finland,2021,Western Europe,7.842,10.775,0.954,72.0,0.949,-0.098,0.186
1,Denmark,2021,Western Europe,7.620,10.933,0.954,72.7,0.946,0.030,0.179
2,Switzerland,2021,Western Europe,7.571,11.117,0.942,74.4,0.919,0.025,0.292
3,Iceland,2021,Western Europe,7.554,10.878,0.983,73.0,0.955,0.160,0.673
4,Netherlands,2021,Western Europe,7.464,10.932,0.942,72.4,0.913,0.175,0.338

In [11]:
world_happiness_2021_df.to_csv('Cleaned_Data/World_Happiness_Report_2021.csv', index=False)

In [26]:
world_happiness_df.to_csv('Cleaned_Data/World_Happiness_Report_All_Years.csv', index=False)

In [25]:
world_happiness_df.dtypes

Country                       object
Year                           int64
World_Region                  object
Happiness_Score              float64
Economic_Production          float64
Social_Support               float64
Life_Expectancy              float64
Freedom                      float64
Generosity                   float64
Perceptions_of_Corruption    float64
dtype: object

In [18]:
world_happiness_df['World_Region'].astype(str)

0       0
1       0
2       0
3       0
4       0
       ..
1944    0
1945    0
1946    0
1947    0
1948    0
Name: World_Region, Length: 1949, dtype: object

In [24]:
world_happiness_df['World_Region'] = "0"
world_happiness_df.head()

,Country,Year,World_Region,Happiness_Score,Economic_Production,Social_Support,Life_Expectancy,Freedom,Generosity,Perceptions_of_Corruption
0,Afghanistan,2008,0,3.724,7.370,0.451,50.80,0.718,0.168,0.882
1,Afghanistan,2009,0,4.402,7.540,0.552,51.20,0.679,0.190,0.850
2,Afghanistan,2010,0,4.758,7.647,0.539,51.60,0.600,0.121,0.707
3,Afghanistan,2011,0,3.832,7.620,0.521,51.92,0.496,0.162,0.731
4,Afghanistan,2012,0,3.783,7.705,0.521,52.24,0.531,0.236,0.776

In [27]:
joined_df = pd.read_csv("Cleaned_Data/WHR_Joined.csv")
joined_df.head()

,country,year,world_region,happiness_score,economic_production,social_support,life_expectancy,freedom,generosity,perceptions_of_corruption
0,Denmark,2005,Western Europe,8.019,10.851,0.972,69.60,0.971,NaN,0.237
1,Denmark,2008,Western Europe,7.971,10.880,0.954,70.08,0.970,0.272,0.248
2,Finland,2020,Western Europe,7.889,10.750,0.962,72.10,0.962,-0.116,0.164
3,Finland,2018,Western Europe,7.858,10.783,0.962,71.90,0.938,-0.127,0.199
4,Finland,2021,Western Europe,7.842,10.775,0.954,72.00,0.949,-0.098,0.186

In [28]:
joined_df.describe()

,year,happiness_score,economic_production,social_support,life_expectancy,freedom,generosity,perceptions_of_corruption
count,2098.000000,2098.000000,2062.000000,2085.000000,2043.000000,2066.000000,2009.000000,1988.000000
mean,2013.768827,5.471402,9.373060,0.812709,63.478503,0.746094,-0.001027,0.745650
std,4.486449,1.112676,1.154247,0.118203,7.468780,0.140766,0.161400,0.186261
min,2005.000000,2.375000,6.635000,0.290000,32.300000,0.258000,-0.335000,0.035000
25%,2010.000000,4.652250,8.470500,0.750000,58.704500,0.652000,-0.115000,0.688750
50%,2014.000000,5.392000,9.462000,0.835000,65.280000,0.767000,-0.027000,0.801000
75%,2018.000000,6.282500,10.360750,0.905000,68.660000,0.859000,0.089000,0.869000
max,2021.000000,8.019000,11.648000,0.987000,77.100000,0.985000,0.698000,0.983000

In [2]:
import pandas as pd
import numpy as np

WHR_null_avg = pd.read_csv("Cleaned_Data/WHR_Joined_NullAvg.csv")
WHR_null_avg.head()

,country,year,world_region,happiness_score,economic_production,social_support,life_expectancy,freedom,generosity,perceptions_of_corruption
0,Denmark,2005,Western Europe,8.019,10.851,0.972,69.60,0.971,0.161533,0.237
1,Denmark,2008,Western Europe,7.971,10.880,0.954,70.08,0.970,0.272000,0.248
2,Finland,2020,Western Europe,7.889,10.750,0.962,72.10,0.962,-0.116000,0.164
3,Finland,2018,Western Europe,7.858,10.783,0.962,71.90,0.938,-0.127000,0.199
4,Finland,2021,Western Europe,7.842,10.775,0.954,72.00,0.949,-0.098000,0.186

In [4]:
df1 = WHR_null_avg[WHR_null_avg.isna().any(axis=1)]
df1

,country,year,world_region,happiness_score,economic_production,social_support,life_expectancy,freedom,generosity,perceptions_of_corruption
293,Oman,2011,Middle East and North Africa,6.853,10.382,NaN,65.50,0.916,0.025,NaN
966,Somalia,2014,Sub-Saharan Africa,5.528,NaN,0.611,49.60,0.874,NaN,0.456
1036,Cuba,2006,Latin America and Caribbean,5.418,NaN,0.970,68.44,0.281,NaN,NaN
1075,Somalia,2015,Sub-Saharan Africa,5.354,NaN,0.599,50.10,0.968,NaN,0.410
1302,Somaliland region,2012,Sub-Saharan Africa,5.057,NaN,0.786,NaN,0.758,NaN,0.334
1350,Somaliland region,2009,Sub-Saharan Africa,4.991,NaN,0.880,NaN,0.746,NaN,0.513
1388,Somaliland region,2011,Sub-Saharan Africa,4.931,NaN,0.788,NaN,0.858,NaN,0.357
1558,Somalia,2016,Sub-Saharan Africa,4.668,NaN,0.594,50.00,0.917,NaN,0.441
1566,Somaliland region,2010,Sub-Saharan Africa,4.657,NaN,0.829,NaN,0.820,NaN,0.471
1878,South Sudan,2015,Sub-Saharan Africa,4.071,NaN,0.585,50.20,0.512,NaN,0.710
1949,South Sudan,2014,Sub-Saharan Africa,3.832,NaN,0.545,49.84,0.567,NaN,0.742
2086,South Sudan,2016,Sub-Saharan Africa,2.888,NaN,0.532,50.60,0.440,NaN,0.785
2088,South Sudan,2017,Sub-Saharan Africa,2.817,NaN,0.557,51.00,0.456,NaN,0.761

In [9]:
WHR_noNull = WHR_null_avg.dropna()
WHR_noNull.head()

,country,year,world_region,happiness_score,economic_production,social_support,life_expectancy,freedom,generosity,perceptions_of_corruption
0,Denmark,2005,Western Europe,8.019,10.851,0.972,69.60,0.971,0.161533,0.237
1,Denmark,2008,Western Europe,7.971,10.880,0.954,70.08,0.970,0.272000,0.248
2,Finland,2020,Western Europe,7.889,10.750,0.962,72.10,0.962,-0.116000,0.164
3,Finland,2018,Western Europe,7.858,10.783,0.962,71.90,0.938,-0.127000,0.199
4,Finland,2021,Western Europe,7.842,10.775,0.954,72.00,0.949,-0.098000,0.186

In [10]:
df3 = WHR_noNull[WHR_noNull.isna().any(axis=1)]
df3

Empty DataFrame
Columns: [country, year, world_region, happiness_score, economic_production, social_support, life_expectancy, freedom, generosity, perceptions_of_corruption]
Index: []

In [11]:
WHR_noNull.to_csv('Cleaned_Data/WHR_noNull.csv', index=False)